body {
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  flex-direction: column;
}


/* Criação das variaveis css, atribuindo elas para o root da aplicação inteira */
:root {
  --primary-bg: #f3f7ea;
  --second-bg: #2C3930;
  --primary-text: #F4F1DE;
  --muted-text: #DCD7C9;
  --black-text: #20341e;
  --primary-green: #9abe4a;
  --second-green: #c7e487;
  --shadow: rgb(0, 0, 0, 0.5);
}

@media(max-width: 700px) {
  .leftside-container {
    width: 100% !important;
  }

  .mobile-nav-bar {
    display: flex !important;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
    color: var(--primary-text);
    /* Utilizando a variavel criada ali em cima para não ficar repetindo ou adivinhando cores */
    background-color: var(--primary-bg);
    margin: 0;
    height: 10%;
    padding: 10px;
    font-size: 20px;
  }

  .default-nav-bar {
    display: none !important;
  }

  .leftside-container button {
    width: 100%;
    display: flex;
    justify-content: center !important;
  }

  .row-marketing {
    padding-left: 0 !important;
    justify-content: center !important;
  }

  .row-marketing h1 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px;
  }

  .row-button {
    padding-left: 0 !important;
    justify-content: center !important;
    display: flex;
    width: 100%;
  }
  .row-button button {
    width: fit-content;
  }
  .logo-nav-container {
    padding-right: 0 !important;
  }

  .side-bar {
    /* Deixa o container acima dos outros elementos html */
    display: flex !important;
    position: fixed;
    z-index: 1000;
    background-color: var(--second-bg);
    height: 100%;
    width: 35%;
   /*  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5); */
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    gap: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .side-bar.active {
    transform: translateX(0);
  }

  .side-bar a {
    text-decoration: none !important;
    color: var(--primary-text);
  }
  .side-bar-auth-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  .side-bar-links-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .side-bar-links-container a:hover {
    cursor: pointer;
  }

  .historia {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
    width: 100%;
    height: 210vh !important;
    justify-content: center;
  }

  .history-row{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .history-row p {
    width: 80% !important;
  }
  
 /*  .cidade {
    width: 100% !important;
    display: block !important;
    height: 100vh !important;
    background-image: url("./assets/imgcid.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment:fixed !important;
  } */
  
  .historia h1 {
    color: var(--primary-text);
    font-size: 40px;
  }
  
  .pessoas {
    height: 80%;
    border-radius: 40px;
    width: 90%;
  }

  .container{
    height: 280vh !important;
    display: flex !important;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .feedback-container h1{
    font-size: 18px !important;
  }
  .contribute-button{
    width: 50% !important;
  }

  .container-row{
    flex-direction: column;
    height: 100% !important;
  }

  .card{
    height: 80% !important;
  }

  .background{
    height: 190vh !important;
  }

  .background h1 {
    font-size: 40px !important;
  }

  .container h1 {
    font-size: 40px !important;
  }

  .moldura-desktop{
    display: none !important;
  }

  .moldura-mobile{
    display: flex !important;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 120px;
  }
  .mobile-moldura-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .rightside-container{
    display: none !important;
  }

  .log-button{
    border: 1px solid var(--primary-text) !important;
    color: var(--primary-text) !important;
  }
  body{
    position: relative;
  } 
}

body {
  flex-direction: column;
  align-items: center;
  /* Impossibilita que a tela seja movida no sentido horzintal */
  overflow-x: hidden;
}



.default-nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--black-text);
  /* Utilizando a variavel criada ali em cima para não ficar repetindo ou adivinhando cores */
  background-color: var(--second-green);
  padding: 10px;
  margin: 0;
  height: 10%;
  font-size: 20px;
  font-weight: bold;
}

.nav-selected {
  color: var(--muted-text) !important;
}

.default-nav-bar a {
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.5s;
  color: var(--black-text);
}

.default-nav-bar a:hover {
  color: var(--muted-text);
  cursor: pointer;
  transition: 0.5s;
}

.default-nav-links-container{
  width: fit-content;
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--black-text);;
}
.default-nav-auth-container{
  width: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.log-button{
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--black-text);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--black-text);
}
.log-button:hover{
  opacity: 80%;
  cursor: pointer;
}

.sign-button{
  width: 150px;
  height: 40px;
  background-color: var(--black-text);
  border: none;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--primary-text);
}

.sign-button:hover{
  opacity: 80%;
  cursor: pointer;
}

.logo-nav-container {
  width: fit-content;
  margin-left: 20px;
}


.main-container {
  width: 100%;
  height: 100vh;
 /*  background-image: url("../assets/bg-inicio.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  display: flex;
  /* background-repeat: no-repeat; */
  background-color: var(--primary-bg);
}
.rightside-container{
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightside-container img{
  width: 90%;
  height: 60%;
  border-radius: 10px;
}

.leftside-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  color: var(--second-bg);
  background-color: var(--primary-bg);
}

.leftside-container h1 {
  font-size: clamp(30px, 3vw, 40px);
  font-weight: normal;
}

.leftside-container button {
  padding-top: 30px;
  background-color: transparent;
  border: none;
  color: var(--black-text);
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: var(--black-text) 2px solid;
  font-size: medium;
}

.row-button {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-left: 40%;;
}

.row-marketing {
  width: 100%;
  padding-left: 40%;
  margin-top: 80px;
  display: flex;
  justify-content: start;
}

.row-marketing span {
  color: var(--primary-green);
}

.leftside-container button:hover {
  cursor: pointer;
  opacity: 75%;
}

.mobile-nav-bar img {
  margin-left: 20px;
}

.mobile-nav-bar button {
  outline: none;
  border: none;
  color: var(--black-text);
  background-color: transparent;
  width: 20%;
  height: 10%;
  transition: 0.5s;
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-nav-bar button:hover {
  color: var(--muted-text);
  cursor: pointer;
  transition: 0.5s;
}




.carousel {
  width: 108vw;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


.carousel::-webkit-scrollbar {
  height: 5px;
  
}

.carousel::-webkit-scrollbar-track {
  background: #ddd;
  
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
 
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}


.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.overlay-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--primary-text);
  padding: 15px;
  font-size: 1.2rem;
  max-width: 40%;
  border-radius: 5px;
}

.container {
  background-color: #dbf3a7;
  height: 130vh;
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-row{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}
.container h1{
  color: var(--black-text);
}

.card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  width: 260px;
  height: 80%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-header{
  color: var(--primary-green);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card-icon  {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.card-button {
  margin-top: auto;
  padding: 10px 16px;
  background-color: #007BFF;
  color: var(--primary-text);
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 0;
}

p {
  color: #333;
}

.historia {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  padding-top: 100px;
  padding-bottom: 20px;
  align-items: center;
  background-color: var(--primary-bg);
}

.cidade {
  width: 100%;
  display: flex;
  
}

.historia h1 {
  color: var(--black-text);
  padding-bottom: 50px;
}

.historia p {
  width: 70%;
  color: var(--black-text);
  font-size: 14px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.pessoas {
  height: 350px;
  border-radius: 40px;
}

.history-row{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.history-column{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;  
}

.background {
  background-color: var(--primary-text);
  height: 150vh;
  width: 100%;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.background h1 {
  color: var(--black-text);
}

.background-row{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.moldura-membro {
  height: 180px;
  width: 170px;
  border-radius: 90px;
}

.imagem-membro {
  width: inherit;
  height: inherit;
  border-radius: 70%;
}

.footer{
  background-color: var(--second-bg);
  display: flex;
  padding: 23px;
  width: 100%;
  margin-top: -75px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes buttonScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


@keyframes fadeInScroll {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  animation: fadeIn 1s ease-in-out;
}


.leftside-container {
  animation: fadeIn 2s ease-in-out;
}

.leftside-container button:hover {
  animation: buttonScale 0.3s ease-in-out forwards;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animate.visible {
  animation: fadeInScroll 0.6s ease-out forwards;
}

.footer h5 {
  font-size: 18px;
/*   margin-bottom: 10px; */
  color: white;
/*   margin-left: 100px; */
}

.contact {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre ícone e texto */
  margin-bottom: 10px;
  font-size: small;
  font-weight: normal;
  justify-content: start;
  height: fit-content;
}

.icon {
  height: 30px; /* Ajuste o tamanho conforme necessário */
}

.iconwpp {
  height: 40px; /* Ajuste o tamanho conforme necessário */
}

.text {
  font-size: 14px;
  color: white;
  transition: 0.2s;
/*   margin-right: 100px;
 */}
 .text:hover {
  color: var(--primary-bg);
  transition: 0.2s;
  cursor: pointer;
 }

.talk-to-us-footer{
  width: 50%;
  display: flex; 
  flex-direction: column;
  padding-left: 50px;
  align-items: start;
  justify-content: center;
}

.respira-footer-row {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  font-weight: bold;
  width: 100%;
  gap: 10px;
}

#footer-header{
  padding-top: 40px;
  color: var(--muted-text);
}

#rightRespira{
  font-size: smaller;
  color: var(--muted-text);
}
.link-text {
  text-decoration: none;
  border: none;
  color: var(--primary-text);
  transition: 0.2s;
}

.link-text:hover{
  transition: 0.2s;
  color: var(--primary-bg);
}

.our-social-media-footer{
  width: 50%;
  display: flex; 
  flex-direction: column;
  padding-left: 50px;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.about-us-footer{
  width: 50%;
  display: flex; 
  flex-direction: column;
  padding-left: 50px;
  align-items: start;
  justify-content: center;
}

.feedback-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  padding-top: 100px;
  background-image: url("./fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.feedback-container h1 {
  color: var(--primary-bg);
}

#howToHelp{
  color: var(--primary-green);
  font-weight: bold;
  font-size: large;
}

.contribute-button{
  width: 20%;
  height: 8%;
  background-color: var(--black-text);
  border: none;
  color: var(--primary-text);
  border-radius: 10px;
  transition: 0.2s;
  font-weight: bold;
}
.contribute-button:hover{
  cursor: pointer;
  opacity: 90%;
  transition: 0.2s;
}

#helpRespira {
  color: var(--muted-text);
}

.moldura-mobile {
  display: none;
}
.moldura-membro p {
  color: var(--black-text);
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.side-bar {
  display: none;
}