:root {
  --primary-bg: #f3f7ea;
  --second-bg: #2C3930;
  --primary-text: #F4F1DE;
  --muted-text: #DCD7C9;
  --black-text: #20341e;
  --primary-green: #9abe4a;
  --shadow: rgb(0, 0, 0, 0.5);
}


body {
  background-color: var(--primary-bg);
  font-family: "Rubik", sans-serif;
}

@media(max-width: 700px) {
  .sign-up-leftside {
    display: none !important; 
  }
  .sign-up-rightside {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center !important;
  }
  .sign-up-container {
    width: 100% !important;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    transition: all 0.5s ease;
  }

  #formHeader h1{
    font-size: 12px;
  }

  #spanLogoHeader{
    display: flex !important;
  }
  .sign-up-form {
    width: 70% !important; 
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    padding-top: 0 !important;
    gap: 20px;
    margin: 0 auto;
  }

}


.sign-up-container {
  width: 100%;
  height: 94vh;
  display: flex;
  transition: all 0.5s ease;
}

.sign-up-container.reverse {
  flex-direction: row-reverse;
}

.btn-switch {
  background-color: #f6fafd;
  border-radius: 10px;
  width: 50px;
  height: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-clicked {
  background-color: #aca9a9 !important;
}

.sign-up-leftside {
  padding: 10px;
  background-color: var(--black-text);
  color: var(--primary-text);
  width: 55%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
  flex-direction: column;
}
.image-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-leftside span{
  color: var(--primary-green);
}

.sign-up-leftside h1 {
  font-size: clamp(20px, 3vw, 18px);
}

.image-container img{
  width: 90%;
  height: 65%;
  border-radius: 10px;
}

.buttons-row{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sign-up-rightside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
}

.sign-up-rightside h1 {
  width: 100%;
}

.alredy-signed {
  width: 100%;
  opacity: 70%;
  font-size: clamp(12px, 3vw, 18px);
}

.alredy-signed button {
  color: #317961;
  width: fit;
  background-color: transparent;
  box-shadow: none;
}

.sign-up-form {
  width: 70%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
  justify-content: center;
}

.sign-up-form h1{
  color: var(--black-text);
}

.sign-up-form input {
  box-shadow: none;
  width: 95%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid gray;
}

.sign-up-form input:focus {
  border-color: #317961;
  border: 1.5px solid;
  outline: none;
}

.sign-up-form input::placeholder {
  font-size: 15px;
}

.sign-up-form button {
  background-color: var(--second-bg);
  border: none;
  border-radius: 6px;
  color: var(--primary-text);
  font-weight: bold;
  width: 100%;
  height: 8%;
  max-width: 400px;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form button:hover {
  cursor: pointer;
  opacity: 80%;
}

.name-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
  gap: 10px;
}

.name-row input {
  width: 100%;
}

#formHeader {
  width: 100%;
  display: flex;
  font-size: clamp(14px, 5vw, 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.error-span {
  width: 100%;
  color: #FF0000;
}
