/*MOBILE*/

/*MAIN*/

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-bg);
    align-items: center;
    gap: 3vh;
}

/*FUNCIONÁRIO*/

.dados-funcionario {
    margin-top: 3vh;
    width: 80vw;
    height: auto;
}

.contem-tudo-dados {
    display: flex;
    flex-direction: column;
}

.contem-placeholder {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.titulo-pagina {
    font-size: 0.89rem !important;
    color: var(--title-text) !important;
    margin-top: -24px;
}

.contem-placeholder-dados {
    display: flex;
    flex-direction: column;
    font-size: 0.89rem !important;
    color: var(--title-text) !important;

}

.place-holder {
    border: 1px solid #292929;
    border-radius: 5px;
}

/*LINHA DIVISÓRIA*/

.linha-divisoria {
    width: 70vw;
    height: 0.3vw;
    background-color: black;
    border-radius: 5px;
}

/*EMPRESA*/

.dados-empresa {
    width: 80vw;
    height: auto;
}

.contem-tudo-dados-empresa {
    display: flex;
    flex-direction: column;
}

.contem-placeholder-empresa {
    display: flex;
    flex-direction: column;
}


.contem-placeholder-dados-empresa {
    display: flex;
    flex-direction: column;
    font-size: 0.89rem !important;
    color: var(--title-text) !important;

}

.contem-placeholder-dados-empresa-checkbox {
    display: flex;
    flex-direction: line;
    font-size: 0.89rem !important;
    color: var(--title-text) !important;
}

.botao-cadastrar {
    display: flex;
    width: 34vw;
    border-radius: 25px;
    height: 5vh;
    background-color: var(--second-btn-bg);
    align-items: center;
    justify-content: center;
    color: white;
}

/*DESKTOP*/

@media (min-width: 1024px) {

    body{
        overflow: hidden;
    }

    .container{
        gap: 5vh;
    }

    .dados-funcionario{
        margin-top: 7vh;
    }

    .contem-placeholder {
        gap: 5vh;
    }

    .contem-1 {
        display: flex;
        gap: 5vw;
    }

    .contem-2 {
        display: flex;
        gap: 5vw;
    }

    .contem-placeholder-dados {
        width: 45vw;
    }

    .contem-placeholder-empresa {
        gap: 7vh;
    }

    .contem-placeholder-dados-empresa{
        width: 45vw;
    }

    .contem-3{
        display: flex;
        gap: 5vw;        
    }

    .linha-divisoria{
        height: 0.2vh;
    }

    .botao-cadastrar{
        width: 15vw;
    }

}