:root {
    --primary-bg: #f3f7ea;
    --second-bg: #CDE1A0;
    --tirth-bg: #E7F3CB;
    --fourth-bg: #DFEAC7;
    --primary-btn-bg: #C0E39D;
    --second-btn-bg: #2e482b;
    --title-text: #20341e;
    --primary-text: #000000;
    --second-text: #EEEEEE;
    --muted-text: #DCD7C9;
    --shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    ;
}


/*MENU MOBILE*/

.mobile-nav-bar {

    display: flex !important;
    width: 100vw;
    background-color: var(--second-bg);
    font-size: 20px;
    gap: 33%;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.logo-nav-container {
    width: 13%;
    height: 100%;
    padding-right: 0 !important;
}

#id-logo-nav-bar {
    width: 100%;
    height: 100%;
}

.img-nav-alerta {
    width: 5%;
    height: 100%;
    padding-right: 0 !important;
}

#id-img-nav-alerta {
    width: 100%;
    height: 100%;
}

#id-button-nav-bar {
    width: 13%;
    height: 100%;
    border: none;
    background-color: var(--second-bg);
    cursor: pointer;
}

#id-button-nav-bar:hover {
    color: var(--muted-text);
    cursor: pointer;
    transition: 0.5s;
}

.side-bar {
    /* Deixa o container acima dos outros elementos html */
    display: flex !important;
    position: fixed;
    z-index: 1000;
    background-color: var(--primary-bg);
    height: 100vh;
    width: 35%;
    /*  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5); */
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.side-bar.active {
    transform: translateX(0);
}

.side-bar a {
    text-decoration: none !important;
    color: var(--primary-text);
    font-size: 4vw;
}

.side-bar-auth-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.img-side-bar {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.side-bar-links-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 88%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.side-bar-links-container a:hover {
    cursor: pointer;
}


/*MAIN*/

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-bg);
}

/*KPIS*/

.kpis {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.primeira-divisao-kpi {

    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    height: 50%;
    align-items: center;
    justify-content: center;

}

.primeira-kpi {

    background-color: var(--primary-bg);
    width: 33%;
    height: 80%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.segunda-kpi {

    background-color: var(--primary-bg);
    display: flex;
    width: 33%;
    height: 80%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.terceira-kpi {
    display: flex;
    background-color: var(--primary-bg);
    width: 33%;
    height: 80%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.titulo-kpi {
    font-size: 1vw;
    color: var(--title-text);
    margin-top: 10px;
}

.dado-kpi {
    font-size: 2.0vw;
}

/*FILTRO*/

.filtro {

    display: flex;
    width: 100vw;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: center;

}

.filtro-aplicado {

    display: flex;
    flex-direction: row;
    width: 18%;
    height: 5vh;
    background-color: var(--primary-bg);
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-right: 12%;
    justify-content: flex-start;
    align-items: center;
    gap: 4%;

}

.img-filtro {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.text-filtro {
    font-size: 2.005vw;
    color: var(--title-text);
}

.fundo-escolher-filtro {
    z-index: 2;
    display: flex;
    width: 100vw;
    height: 8000px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.btn-sair {
    margin-top: 1%;
    margin-right: 92%;
    position: absolute;
    width: 5vw;
    height: 4vh;
}

#btn-sair-filtro {
    width: 100%;
    height: 100%;
}

.escolher-filtro {
    display: flex;
    width: 80vw;
    height: 69vw;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    box-shadow: var(--shadow);
    align-items: center;
    flex-direction: column;

}

.filtro-text {
    background-color: var(--primary-bg);
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-top: 18px;
    width: 80%;
    height: 12.5%;

}

.filtro-btn {
    display: flex;
    width: 68%;
    height: 20.5%;
    margin-top: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.filtro-btn-1 {
    background-color: var(--primary-bg);
    border-radius: 5px;
    box-shadow: var(--shadow);
    width: 30%;
    height: 80%;

}

/*DASHBOARDS*/

.dashboards {
    width: 100vw;
    flex-direction: column;
    height: auto;
    display: flex;
    background-color: var(--primary-bg);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.primeira-dashboard {
    width: 80vw;
    height: auto;
    background-color: var(--primary-bg);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.segunda-dashboard {
    width: 80vw;
    height: auto;
    background-color: var(--primary-bg);
    border-radius: 16px;
    box-shadow: var(--shadow);
}


/*TELA MAIOR*/

@media (min-width: 1024px) {
    /*NAV BAR*/

    .mobile-nav-bar {
        height: 8vh;
        gap: 0px;
        justify-content: space-evenly;
    }

    .logo-nav-container {
        width: 6%;
    }

    .nav-bar-links-container {
        display: flex !important;
        flex-direction: row;
        width: 50vw;
        font-size: 1vw;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
    }

    .nav-bar-links-container a{
        text-decoration: underline;
        cursor:pointer;
    }

    .img-nav-alerta {
        display: none !important;
    }

    .contem-alerta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    .img-nav-alerta2 {
        display: flex;
        flex-direction: row;
        width: 12%;
        height: 36%;
        padding-right: 0 !important;
        gap: 5px;
        align-items: center;
    }

    #id-button-nav-bar {
        display: none;
    }


    .img-user {
        display: flex !important;
        width: 6vw;
        align-items: center;
        justify-content: center;
        cursor:pointer;
    }

    /*KPIS*/


    .kpis {
        flex-direction: row;
        height: 25vh;
    }

    .primeira-divisao-kpi {
        display: none;
    }

    .primeira-divisao-kpi2 {
        display: flex !important;
        flex-direction: row;
        width: 90%;
        gap: 40px;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    .primeira-kpi {
        height: 18vh;
    }

    .segunda-kpi {
        height: 18vh;
    }

    .terceira-kpi {
        height: 18vh;
    }

    .titulo-kpi {
        font-size: 10px !important;
    }

    .dado-kpi {
        font-size: 14px !important;
    }

    /*FILTRO*/

    .filtro {
        margin-top: 22px;
        margin-bottom: 26px;
    }

    .filtro-aplicado {
        width: 6%;
        height: 57%;
    }

    .img-filtro {
        width: 22%;
    }

    .text-filtro {
        font-size: 10px;
    }

    .escolher-filtro{
        width: 35%;
        height: 47%;
    }

    .btn-sair {
        margin-right: 85%;
    }

    #btn-sair-filtro {
        width: 35%;
        height: 73%;
    }

    /*DASHBOARDS*/

    .dashboards{
        flex-direction: row;
    }

    .primeira-dashboard{
        width: 45vw;
    }

    .segunda-dashboard{
        width: 45vw;
    }
}